@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
     background-color:rgb(239, 245, 219)
 }



 /* /* div#form_fundo{
    background-color: white;
    margin: 10% 25% 25% 25%;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 2px 5px 5px black; 
    
}  */

 div#form_frente{
    background-color: white;
    text-align: center;
    border-radius: 20px;
    font-weight: bold;
    box-shadow: 1px 1px 1px black;
    
    
} 

fieldset{
    background-color: white;
    border-radius: 20px;
   
    font-weight: bold;
    box-shadow: 1px 1px 1px black;
}



ul{
    justify-content: space-between;
    display: flex;
    list-style-type: none;
    align-items: center;
    padding: 16px;


}
a{
    color: black;
    text-decoration: none;
    font-weight:bold;
}

div#select_destino{
    background-color: greenyellow;
    margin: auto;
    border-radius: 5px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4df002;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #eace8c;
}

