@charset "UTF-8";

body{
   font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(249, 255, 191)
}

ul{
    justify-content: space-between;
    display: flex;
    list-style-type: none;
    align-items: center;
    padding: 16px;
   

}

a{
    color: black;
    text-decoration: none;
    font-weight:bold;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

div#select_destino{
    background-color: white;
}