@charset "UTF-8";

body{
   font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(249, 255, 191)
}




fieldset{
    background-color: white;
    margin: 1% 10% 20% 10%;
    border-radius: 2%;
}

table{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    ruby-align: center;
    margin: auto;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 2px 5px 5px black;
}


ul{
    justify-content: space-between;
    display: flex;
    list-style-type: none;
    align-items: center;
    padding: 16px;


}

h1{
 text-align: center;
    
    
}
a{
    color: black;
    text-decoration: none;
    font-weight:bold;
}
div#select_destino{
    background-color: white;
    margin: auto;
    border-radius: 5px;
}

div#search{
    background-color: white;
    text-align: center;

    margin: auto;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 1px 1px 1px black;

}

